{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-4">
        <h1>{{ capitalizar 'darth vader'}}</h1>
    </div>

    <div class="col-8">
        <img src="assets/img/darth vader.jpg" alt="" class="img-thumbnail">
    </div>

</div>


{{> footer }}